<style>
    .alert-text {
    display: block;
    margin-top: 5px; /* Adjust margin as needed */
    }

</style>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3" style="text-align:center;">
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> 
            </NavLink>
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All" style="margin-top:-15px;font-size:small;margin-left:-11px">
                <span aria-hidden="true">Dashboard</span>
            </NavLink>
        </div>
         <div class="nav-item px-3" style="text-align:center;">
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> 
            </NavLink>
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All" style="margin-top:-15px;font-size:small;margin-left:-6px">
                <span aria-hidden="true">Policies</span>
            </NavLink>
        </div>
         <div class="nav-item px-3" style="text-align:center;">
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> 
            </NavLink>
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All" style="margin-top:-15px;font-size:small;margin-left:-4px">
                <span aria-hidden="true">Alerts</span>
            </NavLink>
        </div>
     <div class="nav-item px-3" style="text-align:center;">
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> 
            </NavLink>
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All" style="margin-top:-15px;font-size:small;margin-left:-17px">
            <span aria-hidden="true">Invesigations</span>
            </NavLink>
        </div>
<div class="nav-item px-3" style="text-align:center;">
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> 
            </NavLink>
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All" style="margin-top:-15px;font-size:small;margin-left:-16px">
                <span aria-hidden="true">Compliance</span>
            </NavLink>
        </div>
         <div class="nav-item px-3" style="text-align:center;">
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> 
            </NavLink>
            <NavLink class="nav-link " href="/weather" Match="NavLinkMatch.All" style="margin-top:-15px;font-size:small;margin-left:-11px">
        <span aria-hidden="true">Reports</span>
        <span aria-hidden="true">NEW</span>
            </NavLink>
        </div>
       
</nav>
</div>